{
	# Global options
	# email your-email@example.com
}

# Web App
imagine.club {
	reverse_proxy web:3000
}

# Admin App
admin.imagine.club {
	reverse_proxy admin:3001
}

# API
api.imagine.club {
	reverse_proxy api:3000
}
