services:
  caddy:
    image: caddy:2.10.2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web
      - admin
      - api

  web:
    image: ghcr.io/jpsette/imagineclub-web:main
    restart: always

  admin:
    image: ghcr.io/jpsette/imagineclub-admin:main
    restart: always
    env_file:
      - ./.env.prod

  api:
    image: ghcr.io/jpsette/imagineclub-api:main
    restart: always
    env_file:
      - ./.env.prod

volumes:
  caddy_data:
  caddy_config:
